/*All layers are just path elements*/

#map {
  margin: 20px;
  width: 80%;

  svg {
    stroke: #fff;

    path {
      fill: #a82b2b;
      cursor: pointer;
      outline: none;

      &:hover {
        fill: rgba(168, 43, 43, 0.83);
      }

      &:focus {
        fill: rgba(168, 43, 43, 0.6);
      }

      &[aria-checked='true'] {
           fill: #AB1316;
       }

      &[aria-current='true'] {
           fill: #132747c4;
       }

      //&[id="de-bw"] {
      //     fill: rgba(56,43,168,0.6);
      // }

    }
  }
}

